.uni-empty-content {
  margin-bottom: var(--uni-size-16);
}

.uni-empty-title {
  margin-top: var(--uni-size-12);
  display: flex;
  justify-content: center;
  font-size: var(--uni-size-14);
  font-weight: 600;
}

.uni-empty-description {
  margin-top: var(--uni-size-4);
  display: flex;
  justify-content: center;
  font-size: var(--uni-size-14);
}
