.uni-card-piles {
  display: flex;
  gap: var(--uni-size-4);
}

.uni-card-piles-tooltip .ant-tooltip-inner {
  background-color: var(--ut-color-bg-surface);
  color: var(--ut-color-text-secondary);
}
