.uni-ag-side-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  width: 100%;
  max-width: 476px;
  background-color: var(--ut-color-bg-surface);
  box-shadow: 0 12px 16px -4px rgba(16, 24, 40, 0.1);

  .uni-side-panel-subheader {
    font-size: var(--uni-size-14);
    line-height: var(--uni-size-22);
    color: var(--ut-color-text-subtle);
    position: relative;
  }

  .uni-ag-side-panel-body {
    flex-direction: column;
    flex: 1;
    min-height: 0;
    overflow: hidden;
  }

  .h-100,
  .h-full {
    height: 100%;
  }
}

.uni-side-panel-header {
  button.uni-theatre-open,
  button.uni-header-close {
    color: var(--ut-color-text-faint);
    height: 44px;
    position: sticky;
    top: 0;
  }
}

.uni-side-panel-custom-details {
  .uni-detail-block {
    transition: all 0.2s ease-in-out;
    border: 2px dashed var(--ut-color-border-subtle);

    &:hover {
      border-color: var(--ut-color-border-brand);
      background-color: var(--ut-color-bg-brand-subtle);
      cursor: pointer;
    }
  }
}
