$gray-1: #f2f2f2;
$gray-2: #f0f0f1;

$mobile-max-width: 782px;
$small-mobile-max-width: 466px;

$icomoon-font-family: 'Uniphore-Icons' !default;
$icomoon-font-path: 'uniphore-fonts' !default;

$uni-add: '\e903';
$uni-apps: '\e904';
$uni-arrow_forward_ios: '\e905';
$uni-assignment: '\e906';
$uni-call: '\e907';
$uni-cancel-solid: '\e908';
$uni-check-circle-outline: '\e900';
$uni-check_circle: '\e909';
$uni-checkbox-checked: '\e90a';
$uni-checkbox-indeterminate: '\e90b';
$uni-checkbox-unchecked: '\e90c';
$uni-close: '\e90d';
$uni-collapse_content: '\e90e';
$uni-delete: '\e90f';
$uni-download: '\e910';
$uni-drag_indicator: '\e911';
$uni-edit: '\e913';
$uni-edit_square: '\e912';
$uni-expand_content: '\e914';
$uni-export: '\e915';
$uni-fast_forward: '\e916';
$uni-fast_rewind: '\e917';
$uni-filter_alt: '\e918';
$uni-integration: '\e919';
$uni-list: '\e91b';
$uni-list-1: '\e91a';
$uni-lock: '\e91c';
$uni-mode_comment: '\e91d';
$uni-more_vert: '\e91e';
$uni-outbond: '\e91f';
$uni-pause_filled: '\e920';
$uni-person: '\e921';
$uni-play_arrow_filled: '\e922';
$uni-play_circle: '\e923';
$uni-preview: '\e924';
$uni-project: '\e925';
$uni-refresh: '\e926';
$uni-replay: '\e927';
$uni-settings: '\e928';
$uni-star: '\e929';
$uni-sync: '\e901';
$uni-theatre: '\e92a';
$uni-videocam: '\e92b';
$uni-visibility: '\e92d';
$uni-visibility_off: '\e92c';
$uni-volume_down: '\e92e';
$uni-volume_off: '\e92f';
$uni-volume_up: '\e930';
$uni-warn-circle-outline: '\e902';
