.uni-ant-tabs {
  height: 100%;
  min-height: 100%;

  .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane {
    padding: var(--uni-size-5);
  }

  .content {
    display: flex;
    height: 100%;
  }

  .ant-tabs-nav-list {
    padding-top: var(--uni-size-2);
  }

  .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-tab {
    margin: 0;
    padding: var(--uni-size-1) var(--uni-size-2);
    justify-content: center;

    &:hover {
      button.ant-btn {
        background-color: transparent !important;
        text-decoration: none !important;
      }
    }
  }

  .ant-tabs-tab-active {
    button.ant-btn:not(:disabled):not(.ant-button-danger).ant-btn-text,
    button.uni-ant-nav-button:where(.ant-btn) {
      background-color: var(--ut-color-bg-brand-subtle) !important;

      span {
        color: var(--ut-color-text-brand);
      }
    }
  }

  .ant-tabs-tab:not(.ant-tabs-tab-active) {
    button.uni-ant-button-icon span {
      color: var(--ut-color-text-heading) !important;
    }
  }

  &.ant-tabs-left {
    .ant-tabs-nav {
      &::before {
        display: none;
      }
    }

    .ant-tabs-content-holder {
      border-left: 1px solid var(--ut-color-border-default);
    }

    .ant-tabs-ink-bar {
      display: none;
    }
  }

  &.ant-tabs-top {
    .ant-tabs-nav::before {
      border-bottom: 1px solid var(--ut-color-border-default);
    }
  }

  .ant-tabs-content-holder {
    overflow: auto;
    height: 100%;

    .ant-tabs-content {
      height: 100%;
      width: 100%;

      .ant-tabs-tabpane {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.uni-tabs-horizontal {
  &.uni-ant-tabs .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-tab {
    padding: var(--uni-size-1) 0;
    // border-bottom: 2px solid transparent;

    .ant-tabs-tab-btn {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: transparent;
        border-radius: 2px 2px 0 0;
        transition: background-color 0.3s;
      }
    }

    button.uni-ant-button.ant-btn-link {
      font-size: 14px;
      color: var(--ut-color-text-secondary);
    }

    &:hover,
    &.ant-tabs-tab-active {
      button.uni-ant-button {
        color: var(--ut-color-text-brand);
      }

      .ant-tabs-tab-btn::after {
        background-color: var(--ut-color-border-brand);
      }
    }

    &.ant-tabs-tab-active {
      // border-bottom: 2px solid var(--ut-color-border-brand);

      button.uni-ant-button {
        font-weight: 600;
      }
    }
  }

  .ant-tabs-nav-list {
    width: 100%;
    justify-content: space-between;
  }

  .ant-tabs-nav {
    margin: 0 var(--uni-size-5);
  }

  .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane {
    padding: var(--uni-size-4) 0 0 0;
  }

  .uni-ant-tab {
    padding-bottom: var(--uni-size-40);
  }

  .ant-tabs-nav::before {
    border-color: var(--ut-color-border-default);
  }
}

.uni-ant-tab {
  display: flex;
  gap: var(--uni-size-4);
  flex-direction: column;
  // height: 100%;
  width: 100%;

  .uni-ant-tab-header {
    display: flex;
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
    font-size: var(--uni-size-4);
    color: var(--ut-color-text-secondary);
    line-height: var(--uni-size-5);
  }

  .uni-ant-tab-actions {
    display: flex;
    gap: var(--uni-size-3);
  }

  .tab {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
}
