.uni-loader {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.uni-loader-sm {
  width: 20px;
  height: 20px;
}

.uni-loader-md {
  width: 24px;
  height: 24px;
}

.uni-loader-lg {
  width: 32px;
  height: 32px;
}

.uni-loader-xl {
  width: 48px;
  height: 48px;
}

.uni-loader-2xl {
  width: 64px;
  height: 64px;
}

.uni-loader-3xl {
  width: 128px;
  height: 128px;
}

.uni-loader-4xl {
  width: 256px;
  height: 256px;
}
