.uni-ant-modal-manage-roles {
  .ant-dropdown-show-arrow.ant-dropdown-placement-bottomLeft,
  .ant-dropdown-show-arrow.ant-dropdown-placement-bottomRight {
    padding: 0;
    margin-top: var(--uni-size-3);
  }

  .ant-dropdown-arrow {
    top: 0;
  }

  .uni-ant-select {
    width: 100%;
  }

  .ant-tabs-ink-bar {
    display: none !important;
  }

  .uni-ant-tabs .ant-tabs-tab-active {
    button.ant-btn:not(:disabled):not(.ant-button-danger).ant-btn-text {
      background-color: var(--ut-color-bg-brand-muted);

      span {
        color: var(--ut-color-text-secondary);
      }
    }
  }

  .uni-ant-tabs .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-tab {
    padding: 0;
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector,
  .ant-select-multiple .ant-select-selection-item {
    border: 1px solid var(--ut-color-border-strong);
  }

  .ant-select-multiple .ant-select-selection-item {
    gap: var(--uni-size-1);
    background-color: var(--ut-color-bg-surface);
  }
}

.uni-ant-modal-add-roles {
  min-width: 580px;
  height: 100%;
  background-color: var(--ut-color-bg-surface);
  border-radius: var(--uni-radius-300);

  .uni-manage-roles-title {
    padding: var(--uni-size-4) var(--uni-size-5);
    font-size: var(--uni-size-4);
    font-weight: 500;
    color: var(--ut-color-text-secondary);
  }

  .sub-title {
    font-size: 14px;
    font-weight: 600;
    color: var(--ut-color-text-secondary);
    margin-bottom: var(--uni-size-2);
  }

  .ant-modal-content {
    display: flex;
    flex-direction: column;
  }

  .ant-modal-body {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
  }

  .uni-ant-tabs .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane {
    padding: var(--uni-size-2) var(--uni-size-5) var(--uni-size-4) var(--uni-size-4);

    .tab {
      display: flex;
      gap: var(--uni-size-3);
      flex-direction: column;
    }
  }

  .ant-tabs {
    border-top: 1px solid var(--ut-color-border-soft);
    border-bottom: 1px solid var(--ut-color-border-soft);
  }

  .ant-tabs-nav-list {
    padding: 0;
  }

  .ant-tabs-nav {
    padding: var(--uni-size-1) var(--uni-size-4);
    padding-bottom: 0;
    width: 182px;
    border-right: 1px solid var(--ut-color-border-default);

    .uni-ant-button,
    .ant-tabs-tab-btn {
      width: 100%;
      text-align: left;
    }

    .ant-btn-text.uni-ant-button:not(:disabled):not(.ant-button-danger) {
      color: var(--ut-color-text-secondary);
    }
  }

  .actions,
  .ant-tabs-nav {
    background-color: var(--ut-color-bg-canvas);
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    gap: var(--uni-size-4);
    padding: var(--uni-size-4);
    padding-right: var(--uni-size-5);
    border-bottom-left-radius: var(--uni-size-2);
    border-bottom-right-radius: var(--uni-size-2);
  }

  .ant-dropdown-placement-bottomRight > .ant-dropdown-arrow {
    right: var(--uni-size-10);
  }
}
